/_build
/cover
/deps
/doc
/.fetch
/_bc_gitops
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
.elixir_ls/

# npm dependencies
/assets/node_modules/

# Generated static assets (built by mix assets.build)
/priv/static/assets/
